/* Overwrite */
.another_category {
	margin: 60px 0 57px !important;
	padding: 16px 20px 14px;
    width: 100%;
}
.categoryTitle {
	margin: 0 0 13px !important;;
	padding: 0 !important;
	border-bottom: 0 !important;
	font-size: 1em !important;
}
.another_category table {
	margin: 0 !important;
	border: 0;
    padding: 0 10px;
}
.postList tbody {
    padding: 0 10px;
}
.postList th {
	padding: 2px 0 !important;
	font-size: 13px !important;
    width: 80%;
}
.postList th a {
	color: #909090 !important;
}
.postList th a.current {
	text-decoration: underline !important;
	font-weight: 400;
	color: #333 !important;
	border: 0 !important;
}
.postList td {
	padding: 2px 0 !important;
	border: 0;
	font-size: 0.75rem !important;
    width: 20%;
    text-align: end;
}

.postList {
    width: 100%;
}